<html lang="en">

    <div class="login-page">
        <mat-card>
            <mat-card-title style="text-align: center">Nova faxineira</mat-card-title><br>

            <mat-form-field appearance="fill">
                <mat-label>Título:</mat-label>
                <input matInput [(ngModel)]="novaFaxineira.titulo" type="text" max-length="40"/>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Descrição:</mat-label>
                <input matInput [(ngModel)]="novaFaxineira.descricao" type="text" max-length="300"/>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Localidade:</mat-label>
                <input matInput [(ngModel)]="novaFaxineira.Localidade" type="text" max-length="75"/>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contato:</mat-label>
                <input matInput [(ngModel)]="novaFaxineira.contato"
                type="tel"
                pattern="[0-9]{2} 9 [0-9]{4}-[0-9]{4}"
                max-length="14"/>
            </mat-form-field>

            <button mat-raised-button class="button" color="primary" (click)="adicionarFaxineira()">Anunciar</button>

            <button mat-raised-button
                class="button"
                color="primary" (click)="closeFaxineira()">Cancel</button>
        </mat-card>
    </div>
</html>