<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-icon-button (click)="opened = !opened">
    <mat-icon>menu</mat-icon>
  </button> App Faxina
</mat-toolbar>
<mat-sidenav-container class="main-sidenav-container" (backdropClick)="opened = !opened">
  <mat-sidenav [mode]="mode" [opened]="opened" [fixedInViewport]="true" [fixedTopGap]="layoutGap">
    <button mat-button (click)="opened = !opened">
      Links menu
    </button>
  </mat-sidenav>
area do conteudo aqui
</mat-sidenav-container>