<div class="background">
    <div class="profile-div">
        <mat-card class="profile-card">
            <mat-card-header>
                <div mat-card-avatar class="profile-header-image"></div>
                <div class="mat-card-header-text">
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </div>
                
            </mat-card-header>
            <hr/>
            <mat-card-content>
                <mat-list role="list" class="listitem">
                    <mat-list-item role="listitem"><span>Nome:</span>Fulano de Tal</mat-list-item><hr/>
                    <mat-list-item role="listitem"><span>Sexo:</span>Masculino</mat-list-item><hr/>
                    <mat-list-item role="listitem"><span>Idade:</span>30</mat-list-item><hr/>
                    <mat-list-item role="listitem"><span>Telefone:</span><a href="https://api.whatsapp.com/send?phone=5548999976134&text=Olá%20vi%20seu%20anúncio%20no%20AppFaxina.%20Tenho%20interesse%20(:">(00)1234-5678</a></mat-list-item><hr/>
                    <mat-list-item role="listitem"><span>E-mail:</span><a href="mailto:fulano.tal@abc.com">fulano.tal@abc.com</a></mat-list-item><hr/>
                    <mat-list-item role="listitem"><span>Endereço:</span>Rua da Marmota 321, Barrio, Cidade, 12345-678</mat-list-item><hr/>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/home">VOLTAR</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
</div>
