<!--
<mat-card class="card-login mat-elevation-z4">

  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="usuario.user" id="user" type="text" class="validate">
      <label class="active" for="user">Usuario:</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="input-field col s12" id="password">
      <input [(ngModel)]="usuario.password" id="pass" type="password" class="validate">
      <label class="active" for="pass">Senha:</label>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action" (click)="login()">Login
    <i class="material-icons right">send</i>
  </button>
  <br>
  <button mat-button (click)="openDialog()">Open dialog</button>
</mat-card> -->

<div class="login-page">
  
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Logar/Registrar-se</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="login">
        <mat-card-content>
          <form action="">
            <mat-form-field>
              <input [(ngModel)]="usuario.user" matInput placeholder="Email" required name="email" ngModel
                #email="ngModel">
              <mat-error *ngIf="email.invalid">É necessario preencher o email</mat-error>
              <mat-icon matSuffix>person_pin</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="usuario.password" matInput placeholder="Senha" type="password" required
                minlength="6" name="password" ngModel #password="ngModel">
              <mat-error *ngIf="password.errors && password.errors.required">
                É necessario preencher a senha!
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <mat-checkbox>Lembrar dados</mat-checkbox>
            <button (click)="login()" mat-raised-button color="primary" class="login-button">
              Logar
            </button>

            <button mat-raised-button class="login-button">
              Entrar com o Google
              <mat-icon>email</mat-icon>
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Cadastrar-se">
        <mat-card-content>
          <form action="">
            <mat-form-field>
              <input matInput placeholder="User" required name="username" ngModel #username="ngModel">
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error *ngIf="username.invalid">
                É necessario preencher o User
              </mat-error>

            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" required name="email" ngModel #email="ngModel">
              <mat-error *ngIf="email.invalid">É necessario preencher o email</mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Senha" type="password" required minlength="6" name="password" ngModel
                #password="ngModel">
              <mat-error *ngIf="password.errors && password.errors.required">
                É necessario preencher a senha
              </mat-error>
              <mat-error *ngIf="password.errors && password.errors.minlength">
                Senha deve ter no mínimo 6 caracters
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>

            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Senha" type="password" required minlength="6" name="repassword" ngModel
                #repassword="ngModel">
              <mat-error *ngIf="repassword.errors && repassword.errors.required">
                É necessario reescrever a senha
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button">
              Cadastrar-se
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>