<div class="list-services">
  <mat-tab-group animationDuration="5ms">
    <mat-tab label="Faxineiras">
      <div class="container">
        <div id="button-add">
          <button mat-raised-button color="primary" (click)="openFaxineira()">Criar Anúncio</button>
        </div>
        <div id="input-list">
          <b>Filtro:</b>
          <div id="input-list">
            <mat-form-field id="search-field">
              <mat-label>Pesquise aqui</mat-label>
              <input matInput [(ngModel)]="searchFaxina" #input>
              <mat-icon matSuffix>search</mat-icon>
              <mat-hint>Ex: Bairro</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <ul>
        <li *ngFor="let faxineira of faxineira | async | faxineiraFilter:searchFaxina">
          <div class="background-transaction" >
            <div id="img-list">
              <a href="link pro userprofile do anunciante"
                ><img src="" alt="assets\img\user.png" width="150" height="150" /><!-- falta finalização do profile -->
                <div id="name-list">{{ faxineira.nome }} </div> <!-- falta finalização do profile -->
              </a>
            </div>
            <div class="card-info">
              <div id="info-list">
                <a href="link pro userprofile do anunciante">
                  <!-- falta finalização do profile -->
                  <p><label>Título:</label> {{ faxineira.titulo }}</p>
                  <p><label>Descrição:</label> {{ faxineira.descricao }}</p>
                  <p><label>Localização:</label> {{ faxineira.localidade }}</p>
                  <p><label>Sexo:</label> {{ faxineira.sexo }} </p><!-- falta finalização do profile -->
                  <p><label>Contato:</label> {{ faxineira.contato }}</p>
                </a>
              </div>
            </div>
          </div>
          <h1></h1>
        </li>
      </ul>
    </mat-tab>
    <mat-tab label="Serviços">
      <div class="container">
        <div id="button-add">
          <button mat-raised-button color="primary" (click)="openDialog()">
            Criar Anúncio
          </button>
        </div>
        <div id="input-list">
          <b>Filtro:</b>
          <div id="input-list">
            <mat-form-field id="search-field">
              <mat-label>Pesquise aqui</mat-label>
              <input matInput [(ngModel)]="searchFaxina" #input>
              <mat-icon matSuffix>search</mat-icon>
              <mat-hint>Ex: Bairro</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <ul>
        <li *ngFor="let faxina of faxina | async | faxinaFilter:searchFaxina">
          <div class="background-transaction">
            <div id="img-list">
              <a href="link pro userprofile do anunciante"
                ><img src="" alt="assets\img\user.png" width="150" height="150" /><!-- falta finalização do profile -->
                <div id="name-list"> {{ faxina.nome }} </div><!-- falta finalização do profile -->
              </a>
            </div>
            <div class="card-info">
              <div id="info-list">
                <a href="link pro userprofile do anunciante"><!-- falta finalização do profile -->
                  <p><label>Título:</label> {{ faxina.titulo }}</p>
                  <p><label>Descrição:</label> {{ faxina.descricao }}</p>
                  <p><label>Localização:</label> {{ faxina.end }}</p>
                  <p><label>Tamanho da Casa:</label> {{ faxina.tamanhoCasa }}</p>
                  <p><label> Data da Faxina:</label> {{ faxina.dataFaxina }}</p>
                  <p><label>Contato:</label> {{ faxina.contato }}</p>
                </a>
              </div>
            </div>
          </div>
          <h1></h1>
        </li>
      </ul>
    </mat-tab>
  </mat-tab-group>
</div>
