<div class="list-services">
    <mat-tab-group animationDuration="5ms">
        <mat-tab label="Faxineiras">
                <div class="container">
                    <div id="button-add">
                        <button mat-raised-button color="primary">Criar Anúncio</button>
                    </div>
                    <div id="input-list">
                        <b>Filtro:</b><input list="sort-list" name="Ordenação" id="list" placeholder="Selecione opção">
                        <datalist id="sort-list">
                                <option value="Data recente" onclick="test()">
                                <option value="Data antiga">
                                <option value="Preço menor">
                                <option value="Preço maior">
                        </datalist>
                    </div>   
                </div>
            <ul>
                <li>
                    <a href="http://google.com">
                        <p><b>Título:</b> Procuro....</p>
                        <p><b>Descrição:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, corporis harum. Nihil eius temporibus perferendis dignissimos consequuntur provident aut unde veritatis sed, facilis nesciunt eveniet eum perspiciatis, autem at reiciendis.</p>
                        <p><b>Contato:</b> 48 992929292</p>
                    </a>
                    <h1></h1>
                </li>
                <li>
                    <a href="http://google.com">
                        <p><b>Título:</b> Procuro....</p>
                        <p><b>Descrição:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, corporis harum. Nihil eius temporibus perferendis dignissimos consequuntur provident aut unde veritatis sed, facilis nesciunt eveniet eum perspiciatis, autem at reiciendis.</p>
                        <p><b>Contato:</b> 48 992929292</p>
                    </a>
                    <h1></h1>
                </li>
                <li>
                    <a href="http://google.com">
                        <p><b>Título:</b> Procuro....</p>
                        <p><b>Descrição:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, corporis harum. Nihil eius temporibus perferendis dignissimos consequuntur provident aut unde veritatis sed, facilis nesciunt eveniet eum perspiciatis, autem at reiciendis.</p>
                        <p><b>Contato:</b> 48 992929292</p>
                    </a>
                    <h1></h1>
                </li>
                <li>
                    <a href="http://google.com">
                        <p><b>Título:</b> Procuro....</p>
                        <p><b>Descrição:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, corporis harum. Nihil eius temporibus perferendis dignissimos consequuntur provident aut unde veritatis sed, facilis nesciunt eveniet eum perspiciatis, autem at reiciendis.</p>
                        <p><b>Contato:</b> 48 992929292</p>
                    </a>
                    <h1></h1>
                </li>
            </ul>   
        </mat-tab>
        <mat-tab label="Serviços">
            <div class="container">
                <div id="button-add">
                    <button mat-raised-button color="primary">Criar Anúncio</button>
                </div>
                <div id="input-list">
                    <b>Filtro:</b><input list="sort-list" name="Ordenação" id="list" placeholder="Selecione opção">
                    <datalist id="sort-list">
                            <option value="Data recente" onclick="test()">
                            <option value="Data antiga">
                            <option value="Preço menor">
                            <option value="Preço maior">
                    </datalist>
                </div>   
            </div>
            <ul>
                <li>
                    <a href="http://google.com">
                        <p><b>Título:</b> Procuro....</p>
                        <p><b>Descrição:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, corporis harum. Nihil eius temporibus perferendis dignissimos consequuntur provident aut unde veritatis sed, facilis nesciunt eveniet eum perspiciatis, autem at reiciendis.</p>
                        <p><b>Endereço:</b> Rua: ...... nº 10</p>
                        <p><b>Contato:</b> 48 992929292</p>
                        <p><b>Tamanho da Casa:</b> 7 peças</p>
                        <p><b>Data para Faxina:</b>05/01/2021</p>
                    </a>
                    <h1></h1>
                </li>
                <li>
                    <a href="http://google.com">
                        <p><b>Título:</b> Procuro....</p>
                        <p><b>Descrição:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, corporis harum. Nihil eius temporibus perferendis dignissimos consequuntur provident aut unde veritatis sed, facilis nesciunt eveniet eum perspiciatis, autem at reiciendis.</p>
                        <p><b>Endereço:</b> Rua: ...... nº 10</p>
                        <p><b>Contato:</b> 48 992929292</p>
                        <p><b>Tamanho da Casa:</b> 7 peças</p>
                        <p><b>Data para Faxina:</b>05/01/2021</p>
                    </a>
                    <h1></h1>
                </li>
                <li>
                    <a href="http://google.com">
                        <p><b>Título:</b> Procuro....</p>
                        <p><b>Descrição:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, corporis harum. Nihil eius temporibus perferendis dignissimos consequuntur provident aut unde veritatis sed, facilis nesciunt eveniet eum perspiciatis, autem at reiciendis.</p>
                        <p><b>Endereço:</b> Rua: ...... nº 10</p>
                        <p><b>Contato:</b> 48 992929292</p>
                        <p><b>Tamanho da Casa:</b> 7 peças</p>
                        <p><b>Data para Faxina:</b>05/01/2021</p>
                    </a>
                    <h1></h1>
                </li>
                <li>
                    <a href="http://google.com">
                        <p><b>Título:</b> Procuro....</p>
                        <p><b>Descrição:</b> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, corporis harum. Nihil eius temporibus perferendis dignissimos consequuntur provident aut unde veritatis sed, facilis nesciunt eveniet eum perspiciatis, autem at reiciendis.</p>
                        <p><b>Endereço:</b> Rua: ...... nº 10</p>
                        <p><b>Contato:</b> 48 992929292</p>
                        <p><b>Tamanho da Casa:</b> 7 peças</p>
                        <p><b>Data para Faxina:</b>05/01/2021</p>
                    </a>
                    <h1></h1>
                </li>
            </ul>    
        </mat-tab>   
      </mat-tab-group>     
</div>

  
