<div class="page-background">
    <mat-card class="">
      <mat-card-title style="text-align:center;">Finalizar Cadastro</mat-card-title>
      <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
        <mat-tab label="Dados Pessoais">
          <mat-card-content>
            <form action=""  >

              <div class="picture">
                <label class="hoverable" for="fileInput">
                    <img [src]="url"> 
                    <div class="hover-text">Escolher foto</div>
                    <div class="background"></div>
                </label>
                <br>
                <input id="fileInput" required type='file' (change)="onSelectFile($event)" accept="image/*">
              </div>

              <mat-form-field>
                <input matInput placeholder="Primeiro Nome"[formControl]="inputs" >
                <mat-error>Campo obrigatório</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Sobrenome" [formControl]="inputs">
                <mat-error>Campo obrigatório</mat-error>
              </mat-form-field> 

                <mat-form-field >
                  <mat-label>E-mail</mat-label>
                  <input matInput placeholder="exemplo@exemplo.com" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            
              
              <mat-form-field>
                <mat-label>Sexo</mat-label>
                    <mat-select [formControl]="inputs">
                        <mat-option value="option">Masculino</mat-option>
                        <mat-option value="option">Feminino</mat-option>
                    </mat-select>
                    <mat-error>Campo obrigatório</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput type="number" placeholder="Idade" [formControl]="inputs" name="age" >
                <mat-error>Campo obrigatório</mat-error>
              </mat-form-field>

              <mat-form-field 
              [formGroup]="form">
                <mat-label>CPF</mat-label>
                <input matInput placeholder="12345678910" required formControlName="cpf" >
                <mat-error><div *ngIf="form.get('cpf').getError('cpfNotValid')"> 
                    O CPF não é válido.
                  </div></mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Whatsapp</mat-label>
                <input matInput type="tel" placeholder="(xx) 9xxxx-xxxx" [formControl]="inputs" name="Whatsapp">
                <mat-error>Campo obrigatório</mat-error>
              </mat-form-field>

              <button mat-raised-button color="primary" class="complete-button">
                Completar Cadastro
              </button>

            </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>