.page-background {
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('../../../assets/img/fundo-faxina.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  
  mat-card { 
    width: 80%;
<<<<<<< HEAD
    height: 92%;
    margin: 5vh auto;
=======
    height: 90%;
    margin: 2vh auto;
>>>>>>> main
    border-radius: 8px;
  }
  
  mat-form-field{
    width: 40%;
<<<<<<< HEAD
    display: inline-flexbox;
=======
    display: flexbox;
>>>>>>> main
    margin-left: 65px;
  }

  mat-card-content {
    margin-top: 20px;
  }
  .complete-button {
    margin-top: 20px;
    display: block;
    width: 80%;
    margin: 20px auto;
  }

  .container {
    max-width: 200px;
    margin: 0 auto;
<<<<<<< HEAD
}
=======
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 130px;
    width: 130px;
    border: 5px solid#5A4BA6;
    border-radius: 50%;
    margin: 0 auto;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  69%;
    width: 100%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  
  #fileInput{
    display: none;
  }
>>>>>>> main
