mat-card {
  float: right;
  right: 5%;
  width: 85%;
  height: 80%;
  margin: 5% auto;
  border-radius: 8px;

}

mat-form-field {
  width: 80%;
  height: 65px;
  display: block;
  margin: auto;

}

.button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

